<div class="task-container">
  <!--   
  {
  "title": "Fix Database Locking Anomalies",
  "description": "Trace and isolate blocking threads inside the taskManagement schema.",
  "assignedToUserId": 3,
  "assignedByUserId": 1,
  "dueDate": "2026-06-20T18:00:00.000Z"
} -->


  <div class="modal-overlay">
    <div class="modal-card" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>Create Management Task</h2>
        <button class="close-x" routerLink="/admin/taskList">Task List</button>
      </div>

      <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Task Title</label>
          <input type="text" id="title" formControlName="title" placeholder="e.g., Renew cluster security certificates"
            [class.input-error]="isFieldInvalid('title')">
          @if (isFieldInvalid('title')) {
          <div class="error-msg">
            <small>Title is required (minimum 5 characters).</small>
          </div>
          }
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" formControlName="description"
            placeholder="e.g., Renew cluster security certificates" [class.input-error]="isFieldInvalid('description')">
          @if (isFieldInvalid('description')) {
          <div class="error-msg">
            <small>Title is required (minimum 5 characters).</small>
          </div>
          }
        </div>


        <div class="form-grid">
          <div class="form-group">
            <label for="assignedTo">Assign To</label>
            <select id="assignedTo" formControlName="assignedTo">
              @for (emp of this.adminServie.Employees(); track $index) {
              <option [value]='emp.userId'>{{emp.FullName}}</option>
              }

              <!-- <option value="Medium">Medium</option>
                <option value="High">High</option> -->
            </select>
          </div>

          <div class="form-group">
            <label for="status">Current Status</label>
            <select id="status" formControlName="status">
              <option value="Pending">Pending</option>
              <option value="In Progress">In Progress</option>
              <option value="Completed">Completed</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="dueDate">Target Due Date</label>
          <div class="calendar-input-wrapper">
            <input type="date" id="dueDate" formControlName="dueDate" [class.input-error]="isFieldInvalid('dueDate')">
            <span class="calendar-icon">📅</span>
          </div>
          @if (isFieldInvalid('dueDate')) {
          <div class="error-msg">
            <small>A target deadline parameters date mapping is required.</small>
          </div>
          }
        </div>

        <div class="modal-actions">
          <button type="button" class="btn-secondary" routerLink="/dashboard">Back</button>
          <button type="submit" class="btn-primary" [disabled]="taskForm.invalid">
            Publish Task
          </button>
        </div>
      </form>
    </div>
  </div>
</div>